.App {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  text-align: center;
}

.App-header {
  display: flex;
  flex: 1;
  margin: 1rem 1rem 0;
  border-radius: 1rem;
  background-color: #282c34;
  min-height: 5rem;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px * 2vmin);
  color: white;
}
