.kanban-card {
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  list-style: none;
}

.kanban-card:hover {
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3), inset 0 1px #fff;
}

.card-title {
  text-align: left;
  min-height: 3rem;
}

.card-status {
  text-align: right;
  font-size: 0.8rem;
  color: #333;
}

.card-title > input[type="text"] {
  width: 80%;
}