.kanban-column {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 1rem;
}

.kanban-column > ul {
  flex: 1;
  flex-basis: 0;
  margin: 1rem;
  padding: 0;
  overflow: auto;
}

.kanban-column > h2 {
  margin: 0.6rem, 1rem;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid gray;
}

.kanban-column > h2 > button {
  float: right;
  margin-top: 0.2rem;
  padding: 0.2rem 0.5rem;
  border: 0;
  border-radius: 1rem;
  height: 1.8rem;
  line-height: 1rem;
  font-size: 1rem;
}
